<h1>Search Results for <%= params[:q] %></h1>

<p>Found <%= pluralize(@results.size, 'result') %></p>

<% @results.results.each do |result| %>
  <ul>
    <li><%= link_to(result.name, menu_item_path(result.id)) %></li>
  </ul>

<% end %>
