<h1 class="page-header">About Tacoz</h1>
<p class="lead">
  Your tastebuds will become your best friends.
</p>
<div class="content">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dictum urna tellus. Ut commodo dolor vitae interdum molestie. Fusce porttitor, augue sit amet varius blandit, turpis arcu viverra metus, vel auctor nulla massa quis elit. Nam congue interdum nibh quis venenatis. Etiam sit amet nunc ut nisl lacinia posuere nec sed lorem. Proin tincidunt eget velit hendrerit rutrum. In sit amet elementum leo. Praesent pharetra nisl ut fermentum aliquet. Curabitur accumsan lectus nec scelerisque ornare. Quisque convallis ullamcorper dolor. Vestibulum quis mattis purus. Duis volutpat eget erat eu fermentum. Duis fermentum congue augue. Donec vel feugiat quam. 
</div>
